:root {
  --black100: #000000;
  --black90: #000000E5;
  --black80: #333333CC;

  --grey100: #C4C4C4;

  --white100: #ffffff;

  --darkGrey100: #717070;
  --darkGrey90: #717070e6;
  --darkGrey80: #717070cc;
  --darkGrey70: #717070b3;
  --darkGrey60: #71707099;
  --darkGrey50: #71707080;
  --darkGrey40: #71707066;
  --darkGrey30: #7170704d;
  --darkGrey20: #71707033;
  --darkGrey10: #7170701a;
}